.content-manage-vocabulary {
    // display: flex;
    padding-left: 10px;

    .col-md-12.mb-3.preview-image {
        background: center center no-repeat;
        background-size: contain;
        height: 100px;
        width: 100px;
        border: 1px solid #ede0e0;
    }

    // .list-manage {
    //     width: 30%;
    //     cursor: pointer;

    // }

    .content-vocabulary-manage {
        height: 100%;
    }
}