.number-img-question {
    width: 20%;

    .menu-question-reading {
        .number-question {
            .number-question-go1 {
                font-size: 20px;
            }

            .number-question-go {
                font-size: 20px;
            }
        }
    }
}

.question-reading-number {
    .intro-reading-test {
        font-size: 25px;
        text-align: justify;
    }
}

.question-number {
    font-weight: bold;
}